* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-header-color: hsla(0, 0%, 0%, 0.507);

  --bg-color: hsla(0, 0%, 0%, 1);
  --color-text: rgb(255, 255, 255);
  --secondary-color-text: rgba(201, 201, 201, 0.829);
}

/* HEADER CONTENT */
body {
  color: var(--color-text);
  font-family: 'Epilogue', sans-serif;
  overflow-x: hidden;
  background: var(--bg-color);
}

#navigation div:nth-child(1) {
  font-size: 3.6rem;
  gap: 3rem;
}

#navigation div {
  display: flex;
  align-items: center;
}

#navigation div:hover,
a:hover {
  color: rgb(180, 180, 180);

  transition: color 400ms;
}

#navigation {
  font-size: 2.5rem;
  position: relative;

  background: var(--bg-header-color);
  backdrop-filter: blur(1.5rem);
  display: flex;
  justify-content: space-between;
  padding-inline: 3.5rem;
  list-style: none;
  padding: 3.5rem 3.5rem 2.8rem 3.5rem;
}

#header_e-mail {
  font-size: 2.5rem;
}

#navi {
  position: fixed;
  width: 100vw;
}

a {
  transition: color 400ms;
  text-decoration: none;
  color: var(--color-text);
}

/* Content main ----------------------------------------------- */

main {
  padding-top: 16.5rem;
}

h1 {
  font-size: 9.2rem;
}

.header-projectsFristScreen {
  display: flex;

  align-items: center;
  gap: 22rem;
}

.header-projectsFristScreen p {
  width: 60rem;

  color: var(--secondary-color-text);
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.Projects img {
  transition: transform 500ms;
}

.Projects img:hover {
  transform: scale(1.03);
  transition: transform 500ms;
}

#content {
  width: 120rem;
  margin: 0 auto;
}

.Projects img {
  height: 26rem;
  width: 45.6rem;
  margin-top: 6rem;
  margin-bottom: 0.8rem;
  border-radius: 1.2rem 1.2rem 1.2rem 0rem;
  object-fit: cover;
  transition: 500ms;
}

.Projects p {
  margin-top: 1.2rem;
  color: var(--secondary-color-text);
  font-size: 2.8rem;
}

.Projects h2 {
  font-size: 2rem;
}

.allProjects {
  display: grid;
  grid-template-areas: 'A B';
}

/* ABOUT-ME ----------------------------------------------------------- */

.about-me {
  margin-top: 12rem;
  display: flex;
  gap: 20.8rem;
}

.about-me ul li {
  color: var(--secondary-color-text);
  font-size: 2.4rem;
  line-height: 3.2rem;
  list-style: none;
}

.about-me p + p {
  margin-top: 4.2rem;
}

.about-me h3 + p {
  margin-top: 1.6rem;
}

.about-me p {
  color: var(--secondary-color-text);
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-top: 10rem;
}

.about-me h2 {
  width: 40rem;
  font-size: 7.5rem;
}

.about-me h3 {
  margin-top: 6rem;
  font-size: 5.5rem;
}

.about-me img {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
  margin-top: 2rem;

  border-radius: 9999rem;
}

/* FOOTER ----------------------------------------------------- */

.social-media ul {
  list-style: none;
  font-size: 2.4rem;
  gap: 1.2rem;
  display: grid;
  grid-template-areas: 'A B';
}

.social-media ul li {
  cursor: pointer;
  transition: color 400ms;
  margin-right: 16rem;
}

.social-media ul li:hover {
  color: var(--secondary-color-text);
  transition: color 400ms;
}

.contact-me {
  padding-top: 12rem;
  margin-bottom: 6rem;
  display: flex;
  gap: 9.6rem;
}

.e_mail {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.4rem;
}

/* Mobile Recurse ----------------------------------------------------- */

@media (max-width: 1230px) {
  #navigation div:nth-child(2) {
    display: none;
  }

  main {
    display: flex;
  }

  #navigation {
    display: block;
  }

  #navigation div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #My-Projects {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
  }

  .allProjects {
    width: 100vw;
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  #About {
    width: 100vw;
    padding-inline: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
  }

  .contact-me {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 1.5rem;
  }

  .social-media ul {
    list-style: none;
    font-size: 2.4rem;
    gap: 1rem;
    display: grid;
  }

  .social-media ul li {
    margin-right: 1rem;
  }
}

@media (max-width: 705px) {
  #navigation div li a {
    font-size: 2.4rem;
  }

  #My-Projects h1 {
    font-size: 4.8rem;
  }

  #My-Projects p {
    width: 36rem;
    font-size: 1.8rem;
  }

  .Projects img {
    height: 18rem;
    width: 32.6rem;
  }

  .Projects h2 {
    font-size: 1.6rem;
  }

  .Projects p {
    font-size: 2.6rem;
  }

  #About section {
    min-width: 28rem;
  }

  #About h2 {
    font-size: 4.8rem;
  }

  #About h3 {
    font-size: 2.4rem;
  }

  #About p,
  #About ul li {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  #About img {
    height: 14rem;
    width: 14rem;
  }

  .social-media ul {
    gap: 1.8rem;
    font-size: 1.4rem;
  }

  .e_mail {
    margin-bottom: 1rem;
    font-size: 2.4rem;
  }
}

@media (max-width: 445px) {
  .social-media ul {
    gap: 1.8rem;
    font-size: 1.2rem;
  }

  .e_mail {
    font-size: 1.8rem;
  }
}

/* ANIMATIONS ----------------------------------------------------------*/

.inHidden {
  opacity: 0;
  transition: opacity 600ms linear;
}

.off {
  opacity: 1;
}

.OnLeft {
  animation: LeftRight 600ms;
}

.OnRight {
  animation: RightLeft 600ms;
}

.OnTop {
  animation: TopDown 600ms;
}

.OnDown {
  animation: DownTop 600ms;
}

@keyframes TopDown {
  0% {
    opacity: 0;
    transform: translatey(-990px);
  }

  100% {
    opacity: 1;
    transform: translatey(0px);
  }
}

@keyframes DownTop {
  0% {
    opacity: 0;
    transform: translatey(90px);
  }

  100% {
    opacity: 1;
    transform: translatey(0px);
  }
}

@keyframes RightLeft {
  0% {
    opacity: 0;
    transform: translateX(990px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes LeftRight {
  0% {
    opacity: 0;
    transform: translateX(-990px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* SECOND SCREEN -----------------------------------------------------*/
/* SECOND SCREEN -----------------------------------------------------*/
/* SECOND SCREEN -----------------------------------------------------*/
/* SECOND SCREEN -----------------------------------------------------*/
/* SECOND SCREEN -----------------------------------------------------*/
/* SECOND SCREEN -----------------------------------------------------*/

